<template>
  <div class="about-content">
    <h1>这是About </h1>
  </div>
</template>

<script lang="ts">
  import { Vue } from 'vue-class-component'
  export default class About extends Vue {

    // public title = " export default class Home extends Vue"
  }



</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.about-content {
  color: #7265e6;
}
</style>
