<template>
  <div style="width: 100%;height: 100vh;background-color: lightcyan">
  <img alt="Vue logo" src="../assets/logo.png" />
    <h1>worker-Home</h1>
  <span @click="getUserList()">{{msg}}{{userName}}</span>




  </div>
</template>

<script setup>
// import { Options, Vue } from 'vue-class-component'
  import {getCurrentInstance } from 'vue'
  import { ref,onMounted} from "vue";


  const msg = ref("setup scriptsetup scriptsetup script");
  const userName = ref("张大海");
  const { proxy} = getCurrentInstance();


  let arr  = [1,2,3]

  onMounted(()=>{
    // let isPhone = proxy.$utils.regPhone('15738039217');
    console.log('getCurrentInstance =',getCurrentInstance(),proxy.$pager);

     getUserList();

  })
  function getUserList() {
    userName.value = arr[5];
    console.log('getUserList')
  }
  // function sendNot() {
  //   console.log('proxy.$pager', proxy.$pager)
  //   proxy.$pager.next({
  //     from: "vue3",
  //     token: "但若不见你，阳光也无趣"
  //   });
  // }
  // function workListClick() {
  //
  // }
  //
  // function checkMom() {
  //   console.log('window.commonComponent',window.commonComponent)
  // }


</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
