<template>
    <div>
      userNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserNameuserName

    </div>

</template>

<script lang="ts">
  import { Vue } from 'vue-class-component'

  export default class workList extends Vue {



  }
</script>


<style scoped>

</style>
