<template>
  <div class="about-content">
    <h1>胆寒{{userList.length}}</h1>
    <p>{{userName}}</p>
    <h2>{{msg}}</h2>
    <div class="list" @click="gotoDetail()" v-for="(module,index) of userList" v-bind:key='index'>
      {{index}}
    </div>
  </div>
</template>

<script setup>

  // import { Options, Vue } from 'vue-class-component'
  import {getCurrentInstance } from 'vue'
  import { ref,onMounted} from "vue";
  import { useRouter } from 'vue-router'


  const msg = ref("setup scriptsetup scriptsetup script");
  const userName = ref("张大海");
  const { proxy, ctx } = getCurrentInstance();
  let userList = ref([]);
  const router = useRouter()

  onMounted(()=>{
    // let isPhone = proxy.$utils.regPhone('15738039217');
    console.log('getCurrentInstance =',getCurrentInstance(),ctx,proxy.$pager);

     getUserList();

    // userList.push("222");


  })
  function getUserList() {
    // userName.value = "修改了我的值"
    let arr = [];
    for (let n=0;n<20;n++){
      arr.push(n)
    }
    userList.value = arr;
    console.log('userList',userList,userList)
  }
  function gotoDetail() {
    console.log('userList',this.$router)

    router.push('/detail?index=1')


  }
  // function sendNot() {
  //   console.log('proxy.$pager', proxy.$pager)
  //   proxy.$pager.next({
  //     from: "vue3",
  //     token: "但若不见你，阳光也无趣"
  //   });
  // }
  // function workListClick() {
  //
  // }
  // function checkMom() {
  //   console.log('window.commonComponent',window.commonComponent)
  // }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.about-content {
  color: #7265e6;
}
  .list{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    background-color: lavender;
  }
</style>
