<template>
  <div style="width: 100%;height: 100vh;background-color: lightblue">
  <img alt="Vue logo" src="../assets/logo.png" />
  <span>{{msg}}{{userName}}</span>
  <!--<el-button size="small" type="primary" @click="layout.fadein = true">点击调用主应用下发的【fadein】组件</el-button>-->

  <div @click="workListClick()" style="width: 100%;height: 50px">workList</div>
  <el-button @click="sendNot()" type="primary">点击我向各个项目发消息</el-button>

    <el-button @click="getImage()">点击我获取网络请求</el-button>
    <img v-if="vcode_image" :src="'data:image/jpeg;base64,'+vcode_image"  />

    <el-row style="text-align: center;display: block;margin: 15px">
      <el-button @click="gotoOtherPro()">点击我调用父类的工具并跳转到其他的微应用</el-button>
      <el-button type="primary">主要按钮</el-button>
      <el-button type="success">成功按钮</el-button>
      <el-button type="info">信息按钮</el-button>
      <el-button type="warning">警告按钮</el-button>
      <el-button type="danger">危险按钮</el-button>
    </el-row>

    <el-row style="text-align: center;display: block;margin: 15px">
      <el-button plain>朴素按钮</el-button>
      <el-button type="primary" plain>主要按钮</el-button>
      <el-button type="success" plain>成功按钮</el-button>
      <el-button type="info" plain>信息按钮</el-button>
      <el-button type="warning" plain>警告按钮</el-button>
      <el-button type="danger" plain>危险按钮</el-button>
    </el-row>

    <!--<el-input v-model="form.name"></el-input>-->


    <!--<el-input-number v-model="num" @change="handleChange" :min="1" :max="10" label="描述文字"></el-input-number>-->

    <!--<el-select v-model="value" placeholder="请选择">-->
      <!--<el-option-->
        <!--v-for="item in optionsList"-->
        <!--:key="item.value"-->
        <!--:label="item.label"-->
        <!--:value="item.value">-->
      <!--</el-option>-->
    <!--</el-select>-->


  </div>
</template>

<script setup>
// import { Options, Vue } from 'vue-class-component'
  import {getCurrentInstance } from 'vue'
  import { ref,onMounted} from "vue";

  import userApi from '../api/userApi';

  const msg = ref("setup scriptsetup scriptsetup script");
  const userName = ref("张大海");
  const { proxy, ctx } = getCurrentInstance();


  let vcode_image  = ref("");
  // let num= ref(0);
  // let value = ref('');
  // let optionsList = [{
  //   value: '选项1',
  //   label: '黄金糕'
  // }, {
  //   value: '选项2',
  //   label: '双皮奶'
  // }, {
  //   value: '选项3',
  //   label: '蚵仔煎'
  // }, {
  //   value: '选项4',
  //   label: '龙须面'
  // }, {
  //   value: '选项5',
  //   label: '北京烤鸭'
  // }];
  // let form = reactive({
  //   name: '',
  //   region: '',
  //   date1: '',
  //   date2: '',
  //   delivery: false,
  //   type: [],
  //   resource: '',
  //   desc: ''
  // })

  onMounted(()=>{
    // let isPhone = proxy.$utils.regPhone('15738039217');
    console.log('getCurrentInstance =',getCurrentInstance(),ctx,proxy.$http);

    getUserList();

  })
  function getUserList() {
    userName.value = "修改了我的值"
  }
  function sendNot() {
    console.log('proxy.$pager', proxy.$pager)
    proxy.$pager.next({
      from: "vue3",
      token: "但若不见你，阳光也无趣"
    });
  }
  function workListClick() {

  }

  function getImage() {
    // console.log('getImage',userApi.getvCode())
    userApi.getvCode().then((res)=>{
      console.log('getImage',res)
      vcode_image.value = res.vcode_image

    })
  }
  // 点击我调用父类的工具并跳转到其他的微应用
  function gotoOtherPro() {
    console.log('getCurrentInstance =',getCurrentInstance(),ctx,proxy.$utils);
    proxy.$utils.routerGo('/worker')

  }



</script>

<style>
/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
