<template>
    <div>


      vue2 workerlist
    </div>

</template>

<script lang="ts">
  import { Vue } from 'vue-class-component'
  export default class workList extends Vue {
     // public title = " export default class Home extends Vue"

  }
</script>

<style scoped>

</style>
