// 头部样式变量
$header-height: 60px;
$header-background: white;
$header-color: #fff;
$header-padding: 15px;

// 左侧菜单样式变量
$menu-background: #2A3F54;
$menu-color: #fff;
$menu-active-color: #fff;

// 主视图区样式变量
$main-base-color: #f2f3f3;
