<template>
  <div style="width: 100%;height: 100vh;background-color: lightcyan;text-align: center">

    <img :src="baseImage" class="banner" />
    <el-table
      :data="tableData"
      style="width: 100%">
      <el-table-column
        prop="date"
        label="日期"
        width="180">
      </el-table-column>
      <el-table-column
        prop="name"
        label="姓名"
        width="180">
      </el-table-column>
      <el-table-column
        prop="address"
        label="地址">
      </el-table-column>
    </el-table>


    <div v-for="(module,index) of baseUrls" v-bind:key='index' class="cell">
      <img :src="module" />
    </div>
  </div>
</template>


<script lang="ts">
  import { Options, Vue } from 'vue-class-component'

@Options({
    components: {

    }
})

export default class Home extends Vue {

  public  baseImage  = "http://employer.test.goworkla.cn/assets/images/live_banner.png";
  public customPaging = "customPaging"
  public baseUrls  = [
    'http://air.goworkla.cn/2021/images/qingchun_content.png',
    'http://air.goworkla.cn/2021/images/qingchun_content.png',
    'http://air.goworkla.cn/2021/images/qingchun_content.png',
    'http://air.goworkla.cn/2021/images/qingchun_content.png',
    'http://air.goworkla.cn/2021/images/qingchun_content.png',
  ];
  public  controlledSwiper:any = null;

  public tableData = [{
    date: '2016-05-02',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1518 弄'
  }, {
    date: '2016-05-04',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1517 弄'
  }, {
    date: '2016-05-01',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1519 弄'
  }, {
    date: '2016-05-03',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1516 弄'
  }]



}
</script>
<style scoped>
  .contentBox{
    /*height:100%;*/
    position: fixed;top:60px;left: 0;
    right:0;
    bottom: 0;
    overflow: auto;
    background: #F7F7F7;
    font-size: 16px;
  }
  .cell{
    text-align: center;
  }
  .banner{
    max-height: 100px;
  }



</style>
