<template>

  <div class="box">
    <h1>{{projectName}}</h1>

    <div class="line"></div>
    <div class="dataForm">

      <el-row>
        <el-button plain @click="sendNot()">点击我向各个应用发送消息</el-button>
        <el-button type="primary" plain @click="getImage()">点击我获取网络请求</el-button>
        <img v-if="vcode_image" :src="'data:image/jpeg;base64,'+vcode_image"  />
        <el-button type="success" plain @click="gotoOtherPro()">点击我切换到其他微应用</el-button>
        <el-button type="info" plain>点击我获取基座的工具类</el-button>
        <el-button type="warning" plain>点击我加载基座的通用组建</el-button>
        <el-button type="danger" plain>危险按钮</el-button>
      </el-row>
      <el-row>
        <el-button round>圆角按钮</el-button>
        <el-button type="primary" round>主要按钮</el-button>
        <el-button type="success" round>成功按钮</el-button>
        <el-button type="info" round>信息按钮</el-button>
        <el-button type="warning" round>警告按钮</el-button>
        <el-button type="danger" round>危险按钮</el-button>
      </el-row>
      <el-menu
        :default-active="activeIndex2"
        class="el-menu-demo"
        mode="horizontal"
        @select="_handleSelect"
        background-color="#545c64"
        text-color="#fff"
        active-text-color="#ffd04b">
        <el-menu-item index="1">处理中心</el-menu-item>
        <el-menu-item index="2">首页</el-menu-item>
        <el-menu-item index="3" disabled>消息中心</el-menu-item>
        <el-menu-item index="4"><a href="https://www.ele.me" target="_blank">订单管理</a></el-menu-item>
      </el-menu>

      <el-input v-model="projectName"></el-input>

      <el-select v-model="testSelect" placeholder="请选择活动区域">
        <el-option label="区域一" value="shanghai"></el-option>
        <el-option label="区域二" value="beijing"></el-option>
      </el-select>
      <el-select v-model="testSelect" placeholder="请选择">
        <el-option
          v-for="item in options"
          :key="item.value"
          :label="item.label"
          :value="item.value">
        </el-option>
      </el-select>

        <el-col :span="11">
          <el-date-picker type="date" placeholder="选择日期" v-model="testData1" style="width: 100%;"></el-date-picker>
        </el-col>
        <el-col class="line" :span="2">-</el-col>
        <el-col :span="11">
          <el-time-picker placeholder="选择时间" v-model="testData2" style="width: 100%;"></el-time-picker>
        </el-col>
      <el-table
        :data="tableData"
        stripe
        style="width: 100%">
        <el-table-column
          prop="date"
          label="日期"
          width="180">
        </el-table-column>
        <el-table-column
          prop="name"
          label="姓名"
          width="180">
        </el-table-column>
        <el-table-column
          prop="address"
          label="地址">
        </el-table-column>
      </el-table>


    </div>

  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component'
import {getCurrentInstance } from 'vue'
import common from '../api/common'

@Options({
  components: {
  }
})
export default class Home extends Vue {
  public projectName = "vue3 ts 种子项目";
  public testSelect = "vue3 ts 种子项目";
  public options = [{
    value: '选项1',
    label: '黄金糕'
  }, {
    value: '选项2',
    label: '双皮奶'
  }, {
    value: '选项3',
    label: '蚵仔煎'
  }, {
    value: '选项4',
    label: '龙须面'
  }, {
    value: '选项5',
    label: '北京烤鸭'
  }];
  public testData1 = "";
  public testData2 = "";
  public  activeIndex =  '1';
  public  activeIndex2 =  '1';

  public instance:any = getCurrentInstance();

  public vcode_image  = "";
  public pager:any = "";
  public tableData =  [{
    date: '2016-05-02',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1518 弄'
  }, {
    date: '2016-05-04',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1517 弄'
  }, {
    date: '2016-05-01',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1519 弄'
  }, {
    date: '2016-05-03',
    name: '王小虎',
    address: '上海市普陀区金沙江路 1516 弄'
  }]


  // public proxy:any = getCurrentInstance().proxy;

  created(){

    const instance:any = getCurrentInstance();
    this.pager = instance.proxy.$pager;

  }
  mounted() {

  }

  onSubmit() {
    console.log('submit!');
  }
  _handleSelect(key, keyPath) {
    console.log(key, keyPath);
  }
  sendNot() {

    this.pager.subscribe(v => {
      console.log('我是详情页，但是我收到通知了',v)
    })
    this.pager.next({
      from: "home",
      token: "种子项目，给各个应用发信息了"
    });

  }
  getImage(){
    common.getvCode().then((res)=>{
      console.log('res',res);
      this.vcode_image = res.vcode_image;
    })
  }
  gotoOtherPro(){
    this.instance.proxy.$utils.routerGo('/vue3')
  }

}
</script>
<style scoped>
  h1{
    text-align: center;
  }
  .box{
    width: 100%;
    height: 100vh;
    background-color: white;
  }
  .dataForm{
    width: 1200px;
    margin: 35px auto;
  }


</style>
