<template>
  <div style="width: 300px;height: 300px;background-color: #2a3f54;position: fixed;top: 0;left: 0">
    张大海的wl-fadein
  </div>
</template>

<script>
export default {
  name: "wl-fadein",
  props: {
    // 是否显示
    show: {
      type: Boolean,
      default: false
    },
    // 是否使用scroll组件
    useScroll: {
      type: Boolean,
      default: true
    },
    // 自定义main的class
    ftBodyClass: [String, Function]
  }
};
</script>

<style lang="scss">
</style>
