<template>
  <div >
  </div>

</template>

<script>
  import TheMenu from "@/components/TheMenu.vue";
  import TheNav from "@/components/TheNav.vue";

export default {
  name: "home",
  components: {
    TheMenu,
    TheNav
  },
  props: {
    loading: Boolean,
    content: String
  },
  created() {

  },
  mounted() {


  }
};
</script>
<style lang="scss">
  html,
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  .main-container {
    display: flex;
    width: 100%;
    height: 100%;
  }
  .main-container-content {
    flex: 1;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    > .main-container-view {
      padding: 8px;
      width: 100%;
      height: calc(100% - 60px);
      background: $main-base-color;
      box-sizing: border-box;
      > .wl-scroll {
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 4px;
        .el-scrollbar__wrap {
          overflow-x: hidden;
        }
      }

      .app-view-box {
        width: 100%;
        padding: 12px;
        box-sizing: border-box;
      }
    }
  }
  .subapp-loading {
    background: url("~@/assets/images/loading.gif");
  }
</style>
