<template>
    <div style="width: 100%;height: 100vh;background-color: white">
        loginloginloginloginloginlogin
        <button @click="gotoMain()">
            登录成功去首页
        </button>
    </div>
</template>

<script>
    export default {
        name: "login",
        mounted() {


        },
        methods:{
            gotoMain(){

                    console.log('gotoMain')
                window.history.pushState('/vue3', "title", '/worker');
            }
        }
    }
</script>

<style scoped>

</style>
