<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title></title>


    <!--<script src="https://air.goworkla.cn/js/jweixin-1.3.2.js"></script>-->

  </head>
  <body style="margin: 0;padding: 0" id="body">
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
  <!--<script>-->
    <!--if (navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)) {-->
      <!--var myceshi=document.getElementById('body');//获取元素存储在变量中-->
      <!--myceshi.style.width = '1240px';-->
    <!--}-->
  <!--</script>-->

</html>
