#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: #2c3e50;
    /*margin-top: 60px;*/
}
html{
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar{
    display:none;
}

.flex_c{display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;justify-content:center;}
.flex_l{display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;justify-content:flex-start;}
.flex_r{display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;justify-content:flex-end;}
.flex_s{display: flex;flex-direction: row;align-items: center;flex-wrap: wrap;justify-content:space-between;}
.flex_t{display: flex;flex-direction: row;flex-wrap: wrap;justify-content:center;}
