<template>
  <div id="app">
    <h2>
      这是vue2 项目
      <span class="right">auth:weilan</span>
    </h2>
    <div id="nav">
    </div>
    <el-select v-model="value" placeholder="请选择">
      <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
      </el-option>
    </el-select>

    <router-view />
  </div>
</template>

<script>
export default {
  name: "report-app",
  props: {
    msg: String,
    message: String
  },
  data() {
    return {
      myMsg: "",
      value:'',
      options: [{
        value: '选项1',
        label: '黄金糕'
      }, {
        value: '选项2',
        label: '双皮奶'
      }, {
        value: '选项3',
        label: '蚵仔煎'
      }, {
        value: '选项4',
        label: '龙须面'
      }, {
        value: '选项5',
        label: '北京烤鸭'
      }],
    };
  },
  created() {
    this.myMsg = this.msg;
    this.myMessage = this.message;
  },
  methods: {
    /**
     * 路由切换
     * url 路由地址
     */
    routerChange(url) {
      this.$router.push(url).catch(err => {
        console.log(err);
      });
    },
    /**
     * 跨应用路由切换
     * url 路由地址
     */
    toAppReport(url) {
      this.$mainUtils.routerGo(url);
    },
    /**
     * 通知父应用变天了
     * type 通信方案
     */
    callParentChange(type) {
      if (type === "default") {
        this.myMessage = "子应用subapp-blog收到";
        this.$actions.setGlobalState({
          message: this.myMessage,
          from: "subapp-blog"
        });
        return;
      }
      this.myMsg = "倘若有你，西湖一路无雨";
      this.$pager.next({
        from: "subapp-blog",
        token: "倘若有你，西湖一路无雨"
      });
    }
  }
};
</script>

<style lang="scss">
.parent-child-communication {
  padding: 20px 0;
  line-height: 36px;
}
</style>>
