<template>
  <div  class="main-container">

    <div id="root" class="main-container" v-if="isLogin">
      <!-- 左侧菜单区 -->
      <the-menu class="main-menu-box" />
      <!-- 右侧视图 -->
      <div class="main-container-content">
        <!-- 上部导航区 -->
        <the-nav />
        <!-- 子应用渲染区 -->
        <div class="main-container-view">

          <el-scrollbar class="wl-scroll">
            <div id="sub-app-layout" class="app-view-box" v-html="content"></div>
            <div v-if="loading" class="subapp-loading"></div>
          </el-scrollbar>
        </div>
      </div>
      <router-view/>

    </div>
    <div style="width: 100%;height: 100vh;background-color: lightblue" v-if="!isLogin">
      <button @click="login()">登录</button>
    </div>
  </div>
</template>

<script>
import TheMenu from "@/components/TheMenu.vue";
import TheNav from "@/components/TheNav.vue";

export default {
  name: "rootView",
  components: {
    TheMenu,
    TheNav
  },
  data(){
    return{
      isLogin:false
    }
  },
  created() {
  let token =    localStorage.getItem('token');
  if(token){
    this.isLogin = true;
  }

  },
  props: {
    loading: Boolean,
    content: String
  },
  methods:{
    login(){
      localStorage.setItem('token','token');
      window.location.reload();
    }
  }
};
</script>

<style lang="scss">
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.main-container {
  display: flex;
  width: 100%;
  height: 100%;
}
.main-container-content {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow: hidden;
  > .main-container-view {
    padding: 8px;
    width: 100%;
    height: calc(100% - 60px);
    background: $main-base-color;
    box-sizing: border-box;
    > .wl-scroll {
      width: 100%;
      height: 100%;
      background: #fff;
      border-radius: 4px;
      .el-scrollbar__wrap {
        overflow-x: hidden;
      }
    }

    .app-view-box {
      width: 100%;
      padding: 12px;
      box-sizing: border-box;
    }
  }
}
.subapp-loading {
  background: url("~@/assets/images/loading.gif");
}
</style>
